/* Declaring custom properties */
* {
    box-sizing: border-box;
  }

  .line {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 350px;
    width: 350px;
  }  

  .contenidor {
    position: relative;
    height: 400px;
    background-color: green;
    width: 400px;
    border-radius: 15%;
  }
  
  .centrat {
    position: absolute;
    height: 100px;
    width: 100x;
    top: 3em;
    background-color: orange;
    animation: color-antifaz  5s linear 2s infinite alternate;
  }


@keyframes color-antifaz {
  33% { background-color: red; }
  66% { background-color: rgb(67, 67, 248); }
  100% { background-color: purple; }
}

.container {
    width: 175px;
    height: 150px;
    background-color: orange;
}

.eyes-container{
    position: relative;
    width: 400px;
    height: 3em;
    border: 0.1px black solid;
}

.eyes {
   position: absolute;
   height: 120px;
   width: 100px;
   background-color: white;
}

.ojo-izq {
    position: absolute;
    left: 100px;
    height: 3em;
    width: 3em;
    background-color: black;
}

.ojo-der {
    position: absolute;
    right: 100px;
    height: 3em;
    width: 3em;
    background-color: black;
}

.boca {
  position: absolute;
  top: 12em;
  margin-left: 127px;
  left: 0;
  right: 5px;
  bottom: 0;
  height: 100px;
  width: 150px;
  background-color: rgb(245, 228, 153);
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

.body {
  background-color: green;
  width: 15em;
  left: 5em;
  height: 11em;
  position: relative;
  top: 19em;
}

.linest {
  position: absolute;
  border: 0.1em solid rgb(15, 15, 15);
  left: 7.5em;
  height: 11em;
}

.line1 {
  position: absolute;
  border: 0.1em solid rgb(29, 28, 28);
  top: 3em;
  width: 15em;
}

.line2 {
  position: absolute;
  border: 0.1em solid rgb(27, 27, 27);
  top: 7em;
  width: 15em;
}
.caparazon {
  background-color: orange;
  width: 15em;
  height: 11em;
  left: 5em;
  position: relative;
  top: 10em;
  border: 0.1em solid black;
}

.turtle-legs {
  width: 100px;
  height: 120px;
  position: relative;
}

.arm {
  width: 256px;
  height: 80px;
  background-color: green;
  border-radius: 5px;
  position: relative;
  right: 11em;
}
@keyframes move {
  0% { top: 25em; }
  50% { top: 28em; }
  100% {top: 25em; }
}
.arm-left {
  width: 256px;
  height: 80px;
  background-color: green;
  border-radius: 5px;
  position: absolute;
  left: 20em;
  top: 25em;
  animation: move 4s ease-in-out forwards;
  animation-delay: 4s;
}

.leg-right {
  width: 50px;
  height: 80px;
  background-color: green;
  border-radius: 5px;
  position: relative;
  top: 5em;
  left: 6em;
  height: 15em;
  width: 5em;
}

.leg-left {
  width: 50px;
  height: 80px;
  background-color: green;
  border-radius: 5px;
  position: absolute;
  top: 35em;
  right: 6em;
  height: 15em;
  width: 5em;
}

.rodilleras {
  width: 10px;
  height: 20px;
  background-color: brown;
  border-radius: 5px;
  position: absolute;
  top: 40em;
  right: 6em;
  height: 4em;
  width: 5em;
}

.rodilleras-left {
  width: 10px;
  height: 20px;
  background-color: brown;
  border-radius: 5px;
  position: absolute;
  top: 40em;
  left: 6em;
  height: 4em;
  width: 5em;
}

.muñequera {
  width: 50px;
  height: 80px;
  background-color: brown;
  border-radius: 5px;
  position: absolute;
  top: 25em;
  right: 32em;
}

.muñequera-right{
  width: 50px;
  height: 80px;
  background-color: brown;
  border-radius: 5px;
  position: absolute;
  top: 25em;
  left: 32em;
}

.coderas {
  width: 50px;
  height: 80px;
  background-color: brown;
  border-radius: 5px;
  position: absolute;
  top: 25em;
  right: 26em;
}

.coderas-right {
  width: 50px;
  height: 80px;
  background-color: brown;
  border-radius: 5px;
  position: absolute;
  top: 25em;
  left: 26em;
}